.register {
    width: 480px;
    height: 560px;

    margin: 0 auto;
    margin-top: 100px;
}

.label {
    width: 17.7vw;
    text-align: left;
    margin-top: 25px;
    font-size: 20px;
}

.re {
    margin-top: 2px;
    margin-bottom: 20px;
}

.text {
    font-size: 11px;
    margin-top: 30px;
}

.text a {
    color: var(--black-color);
}