.Login {
    color: var(--white-color);

    display: flex;
    justify-content: space-around;
    margin-top: 25vh;

}

.Login h1 {
    font-family: var(--display-font);
    font-size: 128px;
    
}

.Login p {
    font-size: 22px;
}

.Login a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    background-color: var(--white-color);
    padding: 25px 15px;
    border-radius: 50px;
    width: 200px;
    height: 10px;
    text-align: center;
    line-height: 100%;
    

}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: Hug (500px);

    padding: 100px 50px;
    border-radius: 50px;


    background-color: var(--white-color);

}


/* Css formulário */

.login-form h2 {
    color: var(--black-color);
}


.input {
    width: 338px ;
    border: none;
    border-bottom: 1px solid var(--black-color-light);

    color: var(--black-color-light);
    background-color: var(--white-color);
    

    outline: none;

    margin-top: 50px;
    
    font-family: var(--display-font);
}

.input:focus, textarea:focus {
    color: var(--black-color);
}


/* CSS para o botão de login do formulário */

.login {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;

    font-size: 18px;
    border-radius: 50px;
    
    transition: .8s;
}

.login:hover {
    border:1px solid var(--primary-color);
    color: var(--black-color);
    background-color: var(--white-color);

}

