:root {

    --primary-color: hsl(209, 78%, 47%);
    --second-color: hsl(216, 90%, 36%);
    --light-second-color: hsl(216, 73%, 45%);
    --white-color: hsl(0, 0%, 98%); 
    --black-color: hsl(0, 0%, 15%);
    --black-color-light: rgba(38, 38, 38, .4);

    --text-font: 'Roboto', sans-serif;
    --display-font: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--second-color);
    font-family: var(--text-font);
}

/* Css formulário */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    gap: 50px;
    
    width: 30vw;
    height: auto;

    margin: 100px auto 100px;

    background: var(--white-color);
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}

form h2 {
    color: var(--black-color);
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--black-color-light);

    color: var(--black-color-light);    

    outline: none;
        
    font-family: var(--display-font);
}

input:focus, textarea:focus {
    color: var(--black-color);
}

input re {
    margin-top: 2px;
    margin-bottom: 20px;
}

label {
    width: 17.7vw;
    text-align: left;
    font-size: 20px;
}

/* Cada section do form engloba um label e um input*/
.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

/* CSS para o botão do formulário */

form button {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;

    font-size: 18px;
    border-radius: 50px;
    
    transition: .8s;
}

form button:hover {
    border:1px solid var(--primary-color);
    color: var(--black-color);
    background-color: var(--white-color);

}